.container {
    text-align: center;
    background-color:rgb(45, 190, 40);
}

table {
    margin: auto;
    padding: 0px;
}

input {
    border-radius: 15px;
    border: 5px solid #babd19;
    font-size: 30px;
    height: 60px;
    width: 300px;
}

button {
    border-radius: 30px;
    font-size: 45px;
    width: 90x;
    height: 60px;
    margin: 10px;
    background: #dd03a6;
}

.calculator {
    border: 2px solid #46a51b;
    border-radius: 20px;
    background-color: #07a3eb;
    padding: 12px;
    margin: auto;
    display: inline-block;
    box-sizing: content-box;
}

h3 {
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(15, 15, 233);
}